 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #f7f7f7;
  --border-color: #000000;
  --text-color: #000000;
}

.on {
  --border-color: #fff;
  --text-color: #fff;
  --bg-primary: #14181e;
}

body {
  color: var(--text-color);
  background-color: var(--bg-primary);
  transition-property: color background-color;
  transition-duration: 300ms;
}

.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  isolation: isolate;

  & span {
    font-size: 1rem;
    text-align: center;
  }
}

.outer {
  position: relative;
  width: 64px;
  height: 32px;
  padding: 2px;
  background-color: #d2d2d2;
  border-radius: 50px;
  border: 1px solid var(--border-color);
  transition-property: background-color border-color;
  transition-duration: 300ms;
  cursor: pointer;
  &.on {
    background-color: lime;
  }
}

.switch {
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: transform 300ms;
	cursor: pointer;
  &.on {
    transform: translateX(32px);
  }
}